<div class="field">
  <label class="label">Nome: </label>
  <div class="control">
    <input class="input" [(ngModel)]="pessoa.nome" type="text">
  </div>
</div>
<div class="field">
  <label class="label">CPF: </label>
  <div class="control">
    <input class="input" [(ngModel)]="pessoa.cpf" type="text">
  </div>
</div>
<div class="field">
  <label class="label">RG: </label>
  <div class="control">
    <input class="input" [(ngModel)]="pessoa.rg" type="text">
  </div>
</div>
<div class="field">
  <label class="label">Carteira de trabalho: </label>
  <div class="control">
    <input class="input" [(ngModel)]="pessoa.carteiraDeTrabalho" type="text">
  </div>
</div>
<div class="field">
  <label class="label">PIS: </label>
  <div class="control">
    <input class="input" [(ngModel)]="pessoa.pis" type="text">
  </div>
</div>
<div class="field">
  <label class="label">Profissão: </label>
  <div class="control">
    <input class="input" [(ngModel)]="pessoa.profissao" type="text">
  </div>
</div>
<div class="field">
  <label class="label">Data de nascimento: </label>
  <div class="control">
    <input class="input" [(ngModel)]="pessoa.dataDeNascimento" type="text">
  </div>
</div>
<div class="field">
  <label class="label">Sexo: </label>
  <div class="control">
    <input class="input" [(ngModel)]="pessoa.sexo" type="text">
  </div>
</div>
<button (click)="salvar()">Salvar</button>


