<div class="field">
  <label class="label" for="">Nome: </label>
  <div class="control">
    <input class="input" [(ngModel)]="pessoa.nome" type="text">
  </div>
</div>
<div class="field">
  <label class="label" for="">CPF: </label>
  <div class="control">
    <input class="input" [(ngModel)]="pessoa.cpf" type="text">
  </div>
</div>
<div class="field">
  <label class="label" for="">RG: </label>
  <div class="control">
    <input class="input" [(ngModel)]="pessoa.rg" type="text">
  </div>
</div>
<div class="field">
  <label class="label" for="">Carteira de trabalho: </label>
  <div class="control">
    <input class="input" [(ngModel)]="pessoa.carteiraDeTrabalho" type="text">
  </div>
</div>
<div class="field">
  <label class="label" for="">PIS: </label>
  <div class="control">
    <input class="input" [(ngModel)]="pessoa.pis" type="text">
  </div>
</div>
<div class="field">
  <label class="label" for="">Profissão: </label>
  <div class="control">
    <input class="input" [(ngModel)]="pessoa.profissao" type="text">
  </div>
</div>
<div class="field">
  <label class="label" for="">Data de nascimento: </label>
  <div class="control">
    <input class="input" [(ngModel)]="pessoa.dataDeNascimento" type="text">
  </div>
</div>
<div class="field">
  <label class="label" for="">Sexo: </label>
  <div class="control">
    <input class="input" [(ngModel)]="pessoa.sexo" type="text">
  </div>
</div>
<button (click)="salvar()">Salvar</button>


